@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    font-family: 'Poppins', sans-serif, Arial;
    color: #000;
    font-size: 10px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    /* background: center / cover url(../images/background.jpg) no-repeat;
     */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100vh; */
    transition: all 0.5s ease-out;
}
  
.wrapper {
    z-index: 3;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 40px;
    box-sizing: border-box;
}

.none {
    display: none !important;
}

.header {
    padding-top: 20px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    outline: none;
    border: 0;
}

.control-buttons {
    display: flex;
}

.button {
    background-color: rgba(65,53,45, 0.8);
    cursor: pointer;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 700;
    width: 45px;
    height: 45px;
    border-radius: 7px;
}

.button:hover {
    background-color: rgba(65,53,45, 0.7);
}

.inactive-button, .search-button {
    background-color: rgba(159,146,138,0.8)
}

.change {
    width: 21px;
    height: 18px;
    margin-left: 6px;
    background: url(../images/refresh.svg) no-repeat;
}

.change-active {
    transform: rotate(360deg);
    transition: 1s;
}
.language-buttons {
    width: 135px;
    margin-left: 20px;
    display: flex;
}

.temperature-buttons {
    width: 90px;
    margin-left: 20px;
    display: flex;
}

.lang {
    border-radius: 0;
}

.unit:last-child, .lang:last-child {
    border-radius: 0 7px 7px 0;
}

.unit:first-child, .lang:first-child {
    border-radius: 7px 0 0 7px;
}

.input-block {
    display: flex;
}

.search {
    border: none;
    width: 274px;
    background-color: rgba(65,53,45, 0.8);
    border-radius: 7px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 20px;
    outline: none;
    cursor: text;
}

.search-button__icon {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    background: url(../images/search.svg) no-repeat;
}

.wrapper-main {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    padding-top: 70px;
}

.non-weather-info p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 15px;
}

.city {
    font-size: 5rem;
}


.date, .time {
    font-size: 2.7rem;
}

.weather-info {
    display: flex;
    /* grid-template-columns: 410px 295px; */
}

.current-temp {
    color: #ffffff;
    font-weight: 400;
    font-size: 34rem;
}

.current-weather-info {
    padding-left: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.9rem;
    position: relative;
}

.current-weather-info__text {
    position: absolute;
    width: 300px;
    bottom: 36px;
}

.weather-icon-wrapper {
    height: 147px;
}

.weather-icon {
    width: 190px;
    margin-top: -60px;
    margin-left: -95px;
    height: 190px;
}

.current-weather-info p {
    padding-bottom: 10px;
}

.weather-3days {
    color: #ffffff;
    font-weight: 700;
    width: 637px;
    display: flex;
    justify-content: space-between;
}

.days-3-day {
    font-size: 2.9rem;
}

.days-3-temp {
    margin-top: -16px;
    font-size: 5.8rem;
}










.map-section {
    position: relative;
}


.map-wrapper {
    position: absolute;
    width: 379px;
    height: 379px;
    right: 0;
    top: 15%;
    border-radius: 25px;
    overflow: hidden;
}

#map {
    width: 379px;
    height: 379px;
}



@media (max-width: 1280px) {
    
    .city {
        font-size: 4rem;
    }


    .date, .time {
        font-size: 2.3rem;
    }

    .current-temp {
        font-size: 31rem;
    }

    .current-weather-info, .days-3-day {
        font-size: 2.6rem;
    }

    .weather-3days {
        width: 600px;
    }

    .days-3-temp {
        font-size: 4.8rem;
    }

    .current-weather-info__text {
        width: 215px;
    }

    .map-wrapper {
        width: 300px;
        height: 300px;
        top: 23%;
    }
    
    #map {
        width: 300px;
        height: 300px;
    }
}
  
@media (max-width: 1130px) {
    .current-temp {
        font-size: 24rem;
    }
    
    .current-weather-info, .days-3-day {
        font-size: 2rem;
    }

    .days-3-temp {
        font-size: 3.8rem;
    }

    .weather-small-icon {
        width: 92px;
        height: 92px;
    }

    .current-weather-info__text {
        bottom: 26px;
    }

    .weather-icon {
        width: 140px;
        margin-top: -35px;
        margin-left: -73px;
        height: 140px;
    }

    .weather-3days {
        width: 510px;
    }   
    
}

@media (max-width: 1024px) {
    .wrapper-main {
        display: block;
    }

    .map-wrapper {
        width: 100%;
        margin: 40px 0;
    }
    
    #map {
        width: 100%;
    }
}
  
@media (max-width: 800px) {
    .city {
        font-size: 3rem;
    }


    .date, .time {
        font-size: 2rem;
    }

    .weather-info {
        padding-top: 27px;
    }

    .weather-icon {
        width: 113px;
        margin-top: -60px;
        margin-left: -59px;
        height: 113px;
    }

    .current-temp {
        font-size: 17rem;
    }

    .current-weather-info, .days-3-day {
        font-size: 1.5rem;
    }

    .weather-3days {
        padding-top: 20px;
    }

    .days-3-temp {
        font-size: 4rem;
    }

    .current-weather-info__text {
        width: 157px;
        bottom: 14px;
    }

    .header .wrapper {
        display: block;
    }

    .control-buttons {
        width: 311px;
        margin: 0 auto;
    }

    .input-block {
        padding-top: 20px;
        width: 380px;
        margin: 0 auto;
    }


    
    /* change sizes of buttons and there positions  */
}
