@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html, body {
    font-family: 'Poppins', sans-serif, Arial;
    color: #000;
    font-size: 10px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: center / cover url(../images/background.jpg) no-repeat;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
  
.wrapper {
    z-index: 3;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    padding-top: 20px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    outline: none;
    border: 0;
}

.control-buttons {
    display: flex;
}

.button {
    background-color: rgba(65,53,45, 0.8);
    cursor: pointer;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 700;
    width: 45px;
    height: 45px;
    border-radius: 7px;
}

.button:hover {
    background-color: rgba(65,53,45, 0.7);
}

.inactive-button {
    background-color: rgba(159,146,138,0.8)
}

.change {
    width: 21px;
    height: 18px;
    margin-left: 6px;
    background: url(../images/refresh.svg) no-repeat;
}

.change:hover {
    transform: rotate(360deg);
    transition: 1s;
}
.language-buttons {
    width: 135px;
    margin-left: 20px;
    display: flex;
}

.temperature-buttons {
    width: 90px;
    margin-left: 20px;
    display: flex;
}

.ru-lang {
    border-radius: 0;
}

.celsius, .be-lang {
    border-radius: 0 7px 7px 0;
}

.fahrenheit, .eng-lang {
    border-radius: 7px 0 0 7px;
}

.input-block {
    display: flex;
}

.search {
    border: none;
    width: 274px;
    background-color: rgba(65,53,45, 0.8);
    border-radius: 7px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 20px;
    outline: none;
    cursor: text;
}

.search-button__icon {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    background: url(../images/search.svg) no-repeat;
}

main .wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    padding-top: 70px;
}

.non-weather-info p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 15px;
}

.city {
    font-size: 5rem;
}
/* .country {
    font-size: 3rem;
} */

.date, .time {
    font-size: 2.7rem;
}

.weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-temp {
    color: #ffffff;
    font-weight: 400;
    font-size: 27rem;
}

.current-weather-info {
    margin-top: 36%;
    padding-left: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.5rem;
}

.current-weather-info p {
    padding-bottom: 10px;
}

















#map {
    /* margin-top: 1000px; */
}



@media (max-width: 1279px) {
    .wrapper {
      max-width: 1024px;
    }
}
  
@media (max-width: 1023px) {
    .wrapper {
      max-width: 800px;
    }
}
  
@media (max-width: 799px) {
    .wrapper {
      max-width: 640px;
    }
    /* change sizes of buttons and there positions  */
}
